@model List<ShowUsersViewModel>

<div dir="rtl" class="mtop">
    <div style="overflow-x:auto;">
    <table class="table table-striped table-primary table-responsive">
        <thead>
            <tr>
                <th>نام کاربر</th>
                <th>فعال بودن اکانت</th>
                <th>ادمین بودن</th>
                <th colspan="4">گزینه ها</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>
                        <input class="form-control-check" onclick="return false" type="checkbox"
                               @(item.IsActive ? "checked" : "")>
                    </td>
                    <td>
                        <input class="form-control-check" onclick="return false" type="checkbox"
                               @(item.IsAdmin ? "checked" : "")>
                    </td>
                        @if (!item.Banned)
                        {
                            <td>
                                <a class="btn btn-primary text-center w-auto m-1" href="/Admin/User/Details/@item.UserId">اطلاعات</a>
                            </td>
                            @if (!item.IsAdmin)
                            {
                                <td><a class="btn btn-success" href="/Admin/User/SetUserToAdmin/@item.UserId">ارتقا به ادمین</a></td>
                                <td>
                                    <a class="btn btn-danger" href="/Admin/User/BanUser/@item.UserId">
                                        <span class="fa fa-times"></span> حذف
                                    </a>
                                </td>
                            }
                        }
                        else
                        {
                            <td>
                            <div class="w-100 text-center text-danger">
                                این کاربر اخراج شده
                            </div></td>
                        }
                </tr>
            }
        </tbody>
    </table></div>
</div>