@model UserPanelViewModel

<div class="mtop account-panel">
    <div class="container py-5" dir="rtl">
        <h1 class="text-center mt-3">پنل حساب کاربری</h1>
        <hr>
        <dl class="m-5">
            <dd><b>ایمیل:</b></dd>
            <dt>@Model.Email</dt>
            <hr>
            <dd><b>تاریخ ثبت نام:</b></dd>
            <dl>@Model.SignInDate</dl>
            <hr>
            <dd><b>حساب فعال:</b></dd>
            <dl><input @(Model.ActiveEmail?"checked":"") type="checkbox" class="form-check-input"
                    onclick="return false;"> @(Model.ActiveEmail?"ندارید":"دارید")</dl>
        </dl>
    </div>
</div>