<div dir="rtl" class="mtop container">
    <h1 class="text-center">درباره ما</h1>
    <hr>
    <p class="text-center h3" style="line-height: 1.7;">«بسمه تعالی»<br><br>
        فروش ارزاق مردم در مجموعه ۲۰۰ متری در مرکز شهر با دسترسی آسان با نازلترین قیمت با برند های مهم شوینده، بهداشتی
        و... . در خدمت مشتریان بصورت مجازی(اینترنتی) می باشد.<br><br>
        آدرس: جاده محمد شهر،بازار بزرگ ولیعصر، لاین دوم، پلاک ۱۹۰
        </p>
</div>