<!-- Banner -->

<div class="banner">
    <div class="container">
        <div class="row dir_rtl">
            <div class="col-md-4">
                <div class="banner_item align-items-center" style="background-image: url(/Resources/LayoutReferences/images/banner_1.jpg)">
                    <div class="banner_category">
                        <a href="/Category/ShowCategoryProducts/Dairy">لبنیات</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="banner_item align-items-center" style="background-image: url(/Resources/LayoutReferences/images/banner_2.jpg)">
                    <div class="banner_category">
                        <a href="/Category/ShowCategoryProducts/JunkFood">تنقلات</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="banner_item align-items-center" style="background-image:url(/Resources/LayoutReferences/images/banner_3.jpg)">
                    <div class="banner_category">
                        <a href="/Category/ShowCategoryProducts/Grocery">خوار و بار</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
