<!-- Benefit -->

<div class="benefit">
    <div class="container">
        <div class="row benefit_row dir_rtl">
            <div class="col-lg-6 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>پرداخت در هنگام تحویل</h6>
                        <p>لورم ایپسوم متن ساختگی با تولید</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>کل هفته باز است</h6>
                        <p>8 صبح تا 9 شب</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
