@model List<BestTenProductsViewModel>
<!-- Best Sellers -->
<div class="best_sellers">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title new_arrivals_title">
                    <h2>بهترین کالا ها</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="product_slider_container">
                    <div class="owl-carousel owl-theme product_slider">
                        @foreach (var item in Model)
                        {
                            <div class="owl-item product_slider_item">
                                <div class="product-item">
                                    <div class="product">
                                        <a href="/Product/ShowProduct/@item.ProductId">
                                            <div class="product_image">
                                                <img src="/Resources/Pics/ProductThumbnail/@item.ThumbnailName"
                                                alt="تصویر کالا">
                                            </div>
                                        </a>
                                        <div class="favorite @(item.ProductLiked?"active":"")"
                                        onclick="productLiked(@item.ProductId)"></div>
                                        <a href="/Product/ShowProduct/@item.ProductId">
                                            <div class="product_info">
                                                <h6 class="product_name"><a
                                                    href="/Product/ShowProduct/@item.ProductId">@item.ProductName</a>
                                                </h6>
                                                <h6 class="product_price dir_rtl">@item.ProductPrice تومان</h6>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    <!-- Slider Navigation -->

                    <div
                        class="product_slider_nav_left product_slider_nav d-flex align-items-center justify-content-center flex-column">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </div>
                    <div
                        class="product_slider_nav_right product_slider_nav d-flex align-items-center justify-content-center flex-column">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
