<div class="container mtop" dir="rtl">
    <h1 class="text-center">ارتباط با ما</h1>
    <hr>
    <ul class="list-style-none h3" style="line-height: 2;">
        <li>شماره تلفن: 09123456789</li>
        <li>ایمیل: ofoghvaliasr@gmail.com</li>
        <li>آدرس: تهران، دانشگاه شاهد</li>
    </ul>
</div>