<!-- Slider -->

<div class="main_slider" style="background-image: url(/Resources/LayoutReferences/images/sam_1.jpg)">
    <div class="container fill_height">
        <div class="row align-items-center fill_height">
            <div class="col dir_rtl">
                <div class="main_slider_content">
                    <div class="panel-title">
                        <h6 class="text-light">عمده فروشی / ولیعصر</h6>
                        <h2 class="text-light">ارزانترین ها را از ما بخواهید</h2>
                        <div class="red_button shop_now_button"><a href="/Category/ShowCategories">همین الان خرید کنید</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
