<h1 class="text-center mtop">پنل مدیریت</h1>
<hr>
<div dir="rtl" class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 p-3 text-center">
        <a href="/Admin/Category/ShowCategories" class="btn btn-outline-dark w-100">نمایش دسته بندی ها</a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 p-3 text-center">
        <a href="/Admin/Category/AddCategory" class="btn btn-outline-dark w-100">اضافه کردن دسته بندی</a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 p-3 text-center">
        <a href="/Admin/Product/ShowProducts" class="btn btn-outline-dark w-100">نمایش کالا ها</a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 p-3 text-center">
        <a href="/Admin/Product/AddProduct" class="btn btn-outline-dark w-100">اضافه کردن کالا</a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 p-3 text-center">
        <a href="/Admin/User/ShowUsers"
           class="btn btn-outline-dark w-100">نمایش کاربران</a>
    </div>
</div>