@model ErrorViewModel

<div class="mtop container" dir="rtl">
    <h1 class="text-danger">خطا</h1>
    <h2 class="text-danger">متاسفانه به خطایی برخوردیم.</h2>
<br>
    @if (Model.ShowRequestId)
    {
        <p>
            <strong>شماره درخواست:</strong> <code>@Model.RequestId</code>
        </p>
    }
    <p>
        سعی میکنیم در اسرع وقت به رفع این خطا رسیدگی کنیم. اگر این خطا باعث مشکل برای شما شده حتما با راه های ارتباطی که
        در قسمت ارتباط با ما قرار دارد، با ما تماس بگیرید.
    </p>
</div>
<br>
<br>