@model List<ShowSearchedProduct>

<div dir="rtl" class="container mtop">
    @if (Model != null && Model.Count != 0)
    {
        <h1>نتایج جستجو</h1>
        @foreach (var item in Model)
        {
            <hr />
            <a href="/Product/ShowProduct/@item.ProductId">
                <div class="row text-sm-center text-md-start">
                    <div class="col-md-4 col-sm-12">
                        <img class="img-thumbnail" src="/Resources/Pics/ProductThumbnail/@item.ThumbnailName"
                    alt="تصویر کالا" />
                    </div>
                    <div class="col-md-8 col-sm-12 mt-2">
                        <h2>@item.ProductName</h2>
                        <hr>
                        <h5 class="text-gray">@item.ProductPrice تومان</h5>
                    </div>
                </div>
            </a>
        }
    }
    else
    {
        <h1 class="text-center my-5">نتیجه ای پیدا نشد!!!</h1>
    }
</div>
