<!DOCTYPE html>
<html lang="fa">
<head>
    <title>افق ولیعصر</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Colo Shop Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/Resources/LayoutReferences/styles/bootstrap5/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/Resources/LayoutReferences/plugins/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/Resources/LayoutReferences/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/Resources/LayoutReferences/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="/Resources/LayoutReferences/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="/Resources/LayoutReferences/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="/Resources/LayoutReferences/styles/responsive.css">
    <link rel="stylesheet" type="text/css" href="/Resources/LayoutReferences/styles/custom.css">
    <link rel="stylesheet" type="text/css" href="/Resources/LayoutReferences/styles/categories_styles.css">
    <link rel="stylesheet" type="text/css" href="/Resources/LayoutReferences/styles/categories_responsive.css">
    <link rel="stylesheet" type="text/css" href="/Resources/LayoutReferences/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/css/site.css">
</head>

<body>

    <div class="super_container">

        <!-- Header -->

        <header class="header trans_300">

            <!-- Top Navigation -->

            <div class="top_nav">
                <div class="container">
                    <div class="row dir_rtl">
                        <div class="col-md-6">
                            @if (User.Identity.IsAuthenticated)
                            {
                                @if (bool.Parse(User.FindFirstValue("IsAdmin")))
                                {
                                    <div class="top_nav_left">
                                        مدیر @User.FindFirstValue(ClaimTypes.Name) خوش آمدید!! برای خارج شدن روی<a href="/Account/LogOut">این</a> کلیک کنید.
                                    </div>
                                }
                                else
                                {
                                    <div class="top_nav_left">
                                        کاربر @User.FindFirstValue(ClaimTypes.Name) خوش آمدید!! برای خارج شدن روی<a href="/Account/LogOut">این</a> کلیک کنید.
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="top_nav_left">
                                    برای استفاده از امکانات سایت ما لطفاً <a href="/Account/LogIn">وارد</a> شوید یا <a href="/Account/SignIn">ثبت نام</a> کنید.
                                </div>
                            }
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="top_nav_right">
                                <ul class="top_nav_menu">

                                    <!-- My Account -->

                                    <li class="account">
                                        <a href="/Account/Panel">
                                            حساب من
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="account_selection p-0">
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                <li><a href="/Account/Panel"><i class="fa fa-user-circle"></i>پنل کاربر</a></li>
                                                @if (bool.Parse(User.FindFirstValue("IsAdmin")))
                                                {
                                                    <li><a href="/Admin/Index"><i class="fa fa-user-secret"></i>پنل مدیر</a></li>
                                                }
                                                <li><a href="/Account/LogOut"><i class="fa fa-user-times"></i>خروج</a></li>
                                            }
                                            else
                                            {
                                                <li><a href="/Account/LogIn"><i class="fa fa-sign-in" aria-hidden="true"></i>ورود</a></li>
                                                <li><a href="/Account/SignIn"><i class="fa fa-user-plus" aria-hidden="true"></i>ثبت نام</a></li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main Navigation -->

            <div class="main_nav_container">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-right dir_rtl">
                            <div class="logo_container">
                                <a href="/Home/Index"><span>افق </span>ولیعصر</a>
                            </div>
                            <nav class="navbar">
                                <ul class="navbar_menu">
                                    <li><a href="/Home/Index">خانه</a></li>
                                    <li><a href="/Category/ShowCategoryProducts/Dairy">لبنیات</a></li>
                                    <li><a href="/Category/ShowCategoryProducts/Meat">پروتئین</a></li>
                                    <li><a href="/Category/ShowCategoryProducts/Health">بهداشتی</a></li>
                                    <li><a href="/Category/ShowCategoryProducts/JunkFood">تنقلات</a></li>
                                    <li><a href="/Category/ShowCategoryProducts/Grocery">خوار و بار</a></li>
                                </ul>
                                <ul class="navbar_user">
                                    <li><a href="" data-bs-toggle="modal" data-bs-target="#search-modal"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                                    <li><a href="/Account/Panel"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                                    <li class="checkout">
                                        <a href="/Cart/MyCart">
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                                <div class="hamburger_container">
                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

        </header>

        <div class="fs_menu_overlay"></div>
        <div class="hamburger_menu">
            <div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
            <div class="hamburger_menu_content text-right">
                <ul class="menu_top_nav dir_rtl">
                    <li class="menu_item has-children">
                        <a href="#">
                            حساب من
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="menu_selection">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li><a href="/Account/Panel"><i class="fa fa-user-circle"></i>پنل کاربر</a></li>
                                @if (bool.Parse(User.FindFirstValue("IsAdmin")))
                                {
                                    <li><a href="/Admin/Index"><i class="fa fa-user-secret"></i>پنل مدیر</a></li>
                                }
                                <li><a href="/Account/LogOut"><i class="fa fa-user-times"></i>خروج</a></li>
                            }
                            else
                            {
                                <li><a href="/Account/LogIn"><i class="fa fa-sign-in" aria-hidden="true"></i>ورود</a></li>
                                <li><a href="/Account/SignIn"><i class="fa fa-user-plus" aria-hidden="true"></i>ثبت نام</a></li>
                            }
                        </ul>
                    </li>
                    <li class="menu_item"><a href="/Home/Index">خانه</a></li>
                    <li class="menu_item"><a href="/Category/ShowCategoryProducts/Dairy">لبنیات</a></li>
                    <li class="menu_item"><a href="/Category/ShowCategoryProducts/Meat">پروتئین</a></li>
                    <li class="menu_item"><a href="/Category/ShowCategoryProducts/Health">بهداشتی</a></li>
                    <li class="menu_item"><a href="/Category/ShowCategoryProducts/JunkFood">تنقلات</a></li>
                    <li class="menu_item"><a href="/Category/ShowCategoryProducts/Grocery">خوار و بار</a></li>
                </ul>
            </div>
        </div>


        @RenderBody()

        <!-- Footer -->

        <footer class="footer">
            <div class="container">
                <div class="row dir_rtl">
                    <div class="col-lg-6">
                        <div class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
                            <ul class="footer_nav">
                                <li><a href="/Home/AboutUs">درباره ما</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>


    <div class="modal fade" id="search-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div dir="rtl" class="modal-content">
                <div class="modal-header">
                    <h3>جستجو محصول</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/Product/Search" class="text-center" method="get">
                        <input class="form-control" type="text" name="search" placeholder="متن جستجو..." />
                        <input class="btn btn-warning m-3" type="submit" value="جستجو" />
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="/Resources/LayoutReferences/js/jquery-3.2.1.min.js"></script>
    <script src="/Resources/LayoutReferences/styles/bootstrap5/popper.js"></script>
    <script src="/Resources/LayoutReferences/styles/bootstrap5/bootstrap.min.js"></script>
    <script src="/Resources/LayoutReferences/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="/Resources/LayoutReferences/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="/Resources/LayoutReferences/plugins/easing/easing.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="/Resources/LayoutReferences/js/custom.js"></script>
</body>

</html>
